@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Monomakh&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'DM Serif Text', sans-serif;
  background: linear-gradient(to right, #e3f2fd, #2b99f3);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  text-decoration: none;
}

.container {
  background-color: #f2f3f4;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  width: 90%;
  max-width: 600px;
  text-align: center;
}

h1 {
  color: #1a73e8;
  font-size: 28px;
  align-items: center;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.btn {
  background-color: #1a73e8;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.btn:hover {
  background-color: #0f5bb5;
}

@media (max-width: 480px) {
  .button-grid {
    grid-template-columns: 1fr;
  }
}

.navbar {
    width: 100%;
    height: 80px;
    background: #f2f3f4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 8px #0f5bb5;
}

.navbar-logo {
    height: 50px;
    width: 50px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 12px; /* Espacio entre logo y texto */
}

.navbar-title {
  font-size: 48px;
  color: #1a73e8;
  display: flex;
  align-items: center;
  font-family: 'Monomakh';
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f2f3f4;
  color: #1a73e8;
  text-align: center;
  padding: 12px 0;
  font-size: 14px;
  box-shadow: 0 -2px 8px rgba(0,0,0,0.1);
}